.para-alike{
    font-size: 13px !important;
    font-weight: lighter !important;
    letter-spacing: 0.5px !important;
    font-family: "raleway-bold", sans-serif !important;
}

.h1-alike{
    font-size: 16px !important;
    letter-spacing: 1px !important;
}

.trans-btn{
    padding:10px 25px;
    background-color: transparent !important;
    border-radius: 10px !important;
    letter-spacing: 1px !important;
    transition: 1s !important;
    cursor: pointer !important;
    color:white !important;
    border:2px solid white !important;
    font-weight: bold !important;
}

.trans-btn:hover{
    background-color: transparent !important;
    border-radius: 10px !important;
    letter-spacing: 1px !important;
    color:#05bca9 !important;
    border:2px solid #05bca9 !important;
}

.font-family{
    font-family: "raleway-bold", sans-serif !important;
}

.play-zone-para{
    line-height: 1.2 !important; 
    margin-top:60px !important;
    font-family: "raleway-bold", sans-serif !important;
}


.about-para{
    line-height: 1.2 !important; 
    font-family: "raleway-bold", sans-serif !important;
}


.transparent-box{
    background-color: rgba(0,0,0,0.6) !important;
    border-radius: 10px !important;
    padding: 20px 0 !important;
}

.transparent-box-2{
    background-color: rgba(0,0,0,0.4) !important;
    border-radius: 10px !important;
    padding: 40px 40px 60px !important;
    height:320px !important;
    width:30% !important;
    margin:40px 10px 0 !important;
}